[Unit]
Description=Telegram Bot Free chatGPT Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/telegram-bot-chatgpt-python
ExecStart=/home/ubuntu/.tb1/bin/python3 /home/ubuntu/telegram-bot-chatgpt-python/tb.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
